@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-background: oklch(0.189 0.04 256.5);

  --color-surface: oklch(0.178 0.013 261.3);
  --color-surface-light: oklch(0.214 0.016 264.2);
  --color-primary: oklch(0.723 0.177 150);
  --color-primary-dark: oklch(0.613 0.177 150);
  --color-text: oklch(0.985 0.003 264.2);
  --color-text-muted: oklch(0.708 0.016 264.2);
  --color-border: oklch(0.214 0.016 264.2);
  --color-accent: oklch(0.685 0.178 250);
  --color-warning: oklch(0.85 0.175 90);
  --color-error: oklch(0.64 0.22 25);
}
